@font-face {
    font-family: 'Dm sans';
    src: url('fonte/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
}

body{
    margin: 0;
    background-color: #000;
    font-family: 'DM sans', sans-serif;
}

.cabecalho{
    background-image: url('../imagens/contato-image.webp');
    height: 500px;
}

.form{
    margin-top: 40px;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 20px;
    padding-bottom: 10px;
    opacity: .75;
}

.col-auto{
    margin-left: 45%;
}

.col-auto button{
    width: 100;
    margin-top: 0;
    padding: 0 20px 0 20px;
}

.contato a{
    color: #917c4f;
}