@font-face {
    font-family: 'Dm sans';
    src: url('fonte/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
}

body {
    background-color: #000;
    font-family: 'DM sans', sans-serif;
}

/* Inici oHeader */
.cabecalho {
    background-image: url('../imagens/image-bg.webp');
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: top;
}

.navbar {
    opacity: 0.75;
    padding: 0;
}

.navbar-brand {
    padding-left: 30px;
}

.container-fluid {
    background-color: #b3b3b3;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.nav-item {
    display: flex;
    padding: 10px;
    margin: 15px;
    align-items: center;
}

.nav-item a {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 1000;
    color: #000;
}

.nav-item:hover {
    background-color: white;
}

.cadastro{
    padding-left: 60px;
    padding-top: 80px;
}

.cadastro h1 {
    color: #917c4f;
    font-weight: 1000;
}

.cadastro p {
    font-weight: 300;
    color: white;
    font-size: 1.2rem;
}

.btnMain{
    font-size: 1.4rem;
    padding: 15px;
    font-weight: 500;
    background-color: #917c4f;
    border: none;
}

.btnMain:hover{
    background-color:#917c4f;
    opacity: .75;
}
/* Fim do Header */


/* Inicio Main */
.nov {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #917c4f;
    margin-top: 20px;
    font-size: 1.7rem;
}

.novLink {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 20px;
    color: white;
}

.novLink:hover{
    text-decoration: underline;
}

.section2 {
    position: relative;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 550px;
    background-image: url('../imagens/image-bg1.jpeg');
}

.section2 h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color: white;
    font-weight: bolder;
    font-weight: 700;
}

.section2 div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.card-group{
    gap: 15px;
    margin: 15px;
}

.card{
    border: none;
    margin-bottom: 10px;
    border-radius: 0;
}

.card img{
    height: 100%;
}


.card h5{
    text-align: center;
    font-family: 'DM sans', sans-serif;
    font-weight: 500;
    font-size: 1.2;
}

.card-text{
    bottom: 0;
}

/* Fim do Main */

/* Inicio footer */

.rodape {
    padding: 20px 20px 0;
}

.logofooter{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.rodape .info-contato p {
    font-weight: 500;
    margin: 0px;
    color: #917c4f;
}

.links a {
    text-decoration: none;
    font-weight: 500;
    color: #917c4f;
    font-size: 13px;
}

.rodape a:hover {
    font-weight: bold;
}

.rodape .redes-sociais {
    display: inline-block;
}

.rodape p.direitos {
    text-align: center;
    color: #917c4f;
}

.redes-sociais{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

.redes-sociais a{
    font-size: 24px;
    text-decoration: none;
    margin-right: 15px;
    color: #917c4f;
}

/* Inicio footer */