@font-face {
    font-family: 'Dm sans';
    src: url('../fonte/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
}

body{
    margin: 0;
    background-color: #000;
    font-family: 'DM sans', sans-serif;
}

.novidades a{
    color: #917c4f;
}

.cabecalho{
    background-image: url('../imagens/novidade-BG.jpg');
    height: 450px;
}

.container{
    padding: 0;
}

.main{
    margin: 1.5rem;
    background-color: black;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-body{
    background-color: #000;
    padding: 1rem;
}

.card-body a,.card-body p {
    text-decoration: none;
    padding: 0;
    display: flex;
    color: #917c4f;
    font-weight: bold;
    justify-content: start;
    align-items: center;
}

.card-body a{
    font-size: 1.6rem;
    color: white;
}

.card-body a:hover{
    text-decoration: underline;
}

.container hr{
    color: #917c4f;
    opacity: 0.5;
}
